<!doctype html>
<html>
<head>
    <title>NatAlert</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

{% if "user_id" in session %}
  <a href="/logout">Logout</a>
{% else %}
  <a href="/login">Login</a>
{% endif %}

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
  Block content here.
{% endblock %}
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/add-contact.js"></script>
</body>
</html>
