<!doctype html>
<html>
<head>
    <title>NatAlert</title>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
</head>
<body>

{% if "user_id" in session %}
  <a href="/logout">Logout</a>
{% else %}
  <a href="/signup">SignUp</a>
  <a href="/login">Login</a>
{% endif %}

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
  Block content here.
{% endblock %}
<footer class="container">
       Made with <i class="fa fa-heart"></i> by <a href="https://github.com/Sol1323">Sol</a><a href="https://hackbrightacademy.com/">@Hackbright</a>.
</footer>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
