{% extends 'base.html' %}
{% block content %}

  <h2>Earthquakes</h2>

  <ul>
    {% for earthquake in earthquakes %}
      <li>
        <b>Title: <a href="/earthquakes/{{ earthquake.nat_id }}"> {{ earthquake.natural_disaster.title }} </a></b>
        <p>ID:({{ earthquake.nat_id }})</p>
        <p> Timestamp: {{ earthquake.natural_disaster.timestamp }} </p>
        <p> Location: {{ earthquake.natural_disaster.location }} </p>
      </li>
    {% endfor %}
  </ul>

  <p> {{ feeds }} </p>

  <ul>
    {% for idx in range(0, feeds|length) %}
      <li>Title: {{ feeds.event_title(idx) }} Time: {{ feeds.event_time(idx) }} </li>
    {% endfor %}
  </ul>



{% endblock %}
