{% extends 'base.html' %}
{% block content %}


<!--========== PROMO BLOCK ==========-->
<div class="s-promo-block-v1 g-bg-color--primary-to-blueviolet-ltr g-fullheight--md">
    <div class="container g-ver-center--md g-padding-y-100--xs">
        <div class="row g-hor-centered-row--md g-margin-t-30--xs g-margin-t-20--sm">
            <div class="col-lg-6 col-sm-6 g-hor-centered-row__col g-text-center--xs g-text-left--md g-margin-b-60--xs g-margin-b-0--md">
                <div class="s-promo-block-v1__square-effect g-margin-b-60--xs">
                    <h1 class="g-font-size-32--xs g-font-size-45--sm g-font-size-50--lg g-color--white">Life saving app<br>Alert your location & emergency info</h1>
                    <p class="g-font-size-20--xs g-font-size-26--md g-color--white g-margin-b-0--xs">In the event of an natural disaster.</p>
                </div>
                <!-- TODO: Make mobile app --- Coming soon!! -->
                <!-- <span class="g-display-block--xs g-display-inline-block--lg g-margin-b-10--xs g-margin-b-10--lg">
                    <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-btn s-btn--xs s-btn--white-brd g-padding-x-30--xs g-radius--50">
                        <span class="s-btn__element--left">
                            <i class="g-font-size-32--xs ti-apple"></i>
                        </span>
                        <span class="s-btn__element--right g-padding-x-10--xs">
                            <span class="g-display-block--xs g-font-size-11--xs">Download on the</span>
                            <span class="g-font-size-16--xs">App Store</span>
                        </span>
                    </a>
                </span>
                <span class="g-padding-x-0--xs g-padding-x-10--lg">
                    <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-btn s-btn--xs s-btn--white-brd g-padding-x-30--xs g-radius--50">
                        <span class="s-btn__element--left">
                            <i class="g-font-size-32--xs ti-android"></i>
                        </span>
                        <span class="s-btn__element--right g-padding-x-10--xs">
                            <span class="g-display-block--xs g-font-size-11--xs">Download on</span>
                            <span class="g-font-size-16--xs">Google Play</span>
                        </span>
                    </a>
                </span> -->
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-sm-4 g-hor-centered-row__col">
                <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
                    <form class="center-block g-width-350--xs g-bg-color--white-opacity-lightest g-box-shadow__blueviolet-v1 g-padding-x-40--xs g-padding-y-60--xs g-radius--4" action="/login" method="POST">
                        <div class="g-text-center--xs g-margin-b-40--xs">
                            <h2 class="g-font-size-30--xs g-color--white">Log In</h2>
                        </div>
                        <div class="g-margin-b-30--xs">
                            <input type="email" class="form-control s-form-v3__input" name="email" placeholder="* Email">
                        </div>
                        <div class="g-margin-b-30--xs">
                            <input type="password" class="form-control s-form-v3__input" name="password" placeholder="* Password">
                        </div>
                        <div class="g-text-center--xs">
                            <button type="submit" class="text-uppercase btn-block s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-50--xs g-margin-b-20--xs">Log In</button>
                            <a class="g-color--white g-font-size-13--xs" href="#">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--========== END PROMO BLOCK ==========-->


<!-- Process -->
<div id="how-it-works"class="g-bg-color--primary-ltr">
    <div class="container g-padding-y-80--xs g-padding-y-125--sm">
        <div class="g-text-center--xs g-margin-b-100--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Process</p>
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-color--white">How it Works</h2>
        </div>
        <ul class="list-inline row g-margin-b-100--xs">
            <!-- Process -->
            <li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--md">
                <div class="center-block g-text-center--xs">
                    <div class="g-margin-b-30--xs">
                        <span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">01</span>
                    </div>
                    <div class="g-padding-x-20--xs">
                        <h3 class="g-font-size-18--xs g-color--white">Sign Up!</h3>
                        <p class="g-color--white-opacity">It's free!</p>
                    </div>
                </div>
            </li>
            <!-- End Process -->

            <!-- Process -->
            <li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--md">
                <div class="center-block g-text-center--xs">
                    <div class="g-margin-b-30--xs">
                        <span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">02</span>
                    </div>
                    <div class="g-padding-x-20--xs">
                        <h3 class="g-font-size-18--xs g-color--white">Contacts</h3>
                        <p class="g-color--white-opacity">Add your contacts in your profile.</p>
                    </div>
                </div>
            </li>
            <!-- End Process -->

            <!-- Process -->
            <li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--sm">
                <div class="center-block g-text-center--xs">
                    <div class="g-margin-b-30--xs">
                        <span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">03</span>
                    </div>
                    <div class="g-padding-x-20--xs">
                        <h3 class="g-font-size-18--xs g-color--white">Location Tracker</h3>
                        <p class="g-color--white-opacity">Go to the tracker to record your current location.</p>
                    </div>
                </div>
            </li>
            <!-- End Process -->

            <!-- Process -->
            <li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1">
                <div class="center-block g-text-center--xs">
                    <div class="g-margin-b-30--xs">
                        <span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">04</span>
                    </div>
                    <div class="g-padding-x-20--xs">
                        <h3 class="g-font-size-18--xs g-color--white">Alert!</h3>
                        <p class="g-color--white-opacity">An alert SMS will be sent when you are in a natural disaster event.</p>
                    </div>
                </div>
            </li>
            <!-- End Process -->
        </ul>

        <div class="g-text-center--xs">
            <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
                <a href="/signup" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<!-- End Process -->



{% endblock %}
