{% extends 'base.html' %}
{% block content %}

  <h1>{{ user.name }} ({{ user.user_id }})</h1>
  <p>Email: {{ user.email }}</p>
  <p>Age: {{ user.age }}</p>
  <p>Residency Address: {{ user.residency_address }}</p>
  <p>Zipcode: {{ user.zipcode }}</p>
  <p>Allergies: {{ user.allergies }}</p>
  <p>Medications: {{ user.medications }}</p>
  <p>Phone: {{ user.phone }}</p>

  {% if user.contacts %}

    <h2>Contacts</h2>

    <ul>
    {% for contact in user.contacts %}

      <a href="/contact/{{ contact.contact_id }}"> {{ contact.name}} </a>

      {% for phone in contact.phones %}

        <li>phone: {{ phone.phone }}</li>

      {% endfor %}

    {% endfor %}
    </ul>

  {% endif %}


{% endblock %}
