{% extends 'base.html' %}
{% block content %}

  <h1>Profile</h1>

  <h1>{{ user.name }} ({{ user.user_id }})</h1>
  <p>Email: {{ user.email }}</p>
  <p>Age: {{ user.age }}</p>
  <p>Residency Address: {{ user.residency_address }}</p>
  <p>Zipcode: {{ user.zipcode }}</p>
  <p>Allergies: {{ user.allergies }}</p>
  <p>Medications: {{ user.medications }}</p>
  <p>Phone: {{ user.phone }}</p>

  {% if user.contacts %}
  <h2>Contacts</h2>

    <ul>
    {% for contact in user.contacts %}
      <a href="/contacts/{{ contact.contact_id }}"> {{ contact.name }} </a>
      {% for phone in contact.phones %}
        <li>{{ phone.type }}: {{ phone.phone }}</li>
      {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}


  <h3>Add a contact:</h3>

  <form class="contact-form" action="/contacts" method="POST">
    <div>
      <label>
        Name
        <input class="contact-name" type="text" name="name">
      </label>
    </div>

    <div>
      <label>
        Type
        <input class="phone-type" type="text" name="type">
      </label>
    </div>

    <div>
      <label>
        Phone
        <input class="contact-phone" type="text" name="phone">
      </label>
    </div>

    <div>
      <input type="submit" value="Add">
    </div><br>
  </form>

  <h3>Earthquake Alert Restrictions:</h3>

<!-- TODO: q2: how to save information when is just a setting spec -->
  <form class="earthquake-form">
    <div>
      <label>
        Magnitude
        <input class="earth-mag" type="text" name="magnitude">
      </label>
    </div>
  </form><br><br>


{% endblock %}
