{% extends 'base.html' %}
{% block content %}

  <h1>{{ user.name }} ({{ user.user_id }})</h1>
  <p>Email: {{ user.email }}</p>
  <p>Age: {{ user.age }}</p>
  <p>Residency Address: {{ user.residency_address }}</p>
  <p>Zipcode: {{ user.zipcode }}</p>
  <p>Allergies: {{ user.allergies }}</p>
  <p>Medications: {{ user.medications }}</p>
  <p>Phone: {{ user.phone }}</p>

<!-- TODO: Add crud contacts -->
  <!-- {% if user.contacts %}

    <h2>Contacts</h2>

    <ul>
    {% for rating in user.ratings %}
      <li>
        <a href="/movies/{{ rating.movie_id }}">{{ rating.movie.title }}</a>
        was rated {{ rating.score }}
      </li>
    {% endfor %}
    </ul> -->

  {% endif %}

{% endblock %}
